<br>
<br>
<div class="container py-1" style="margin:5% auto;">
  <h3 style="text-align: center;">Choix finale</h3>


<!-------Affichage des Binomes -------------------------------------------------------------------------------------------->
<h5>&#187; Choix des binomes :</h5>

<!-- 
<tr *ngFor="let i of etudiants ; let k = index">
<p>: {{user.i.nom}}</p>
<p>{{i.nom}}</p>
</tr> -->

    <!--juste forme lzm n5dmha hedhi rw bil get kol user n3yt lil etudiants mt3ou-->
    <!-- <div *ngFor="let student of students" > -->
      <div>
        {{students[0].id}} 
        {{students[0].nom}} 
        {{students[0].prenom}} 
        |
          {{students[1].id}} 
          {{students[1].nom}} 
          {{students[1].prenom}} 
        |
          {{students[2].id}} 
          {{students[2].nom}} 
          {{students[2].prenom}} 
        |
          {{students[2].id}} 
          {{students[3].nom}} 
          {{students[4].prenom}} 
     </div>
    <!-- </div> -->



<!-------affichage des choix des Sujets ----------------------------------------------------------------------------------------------------------->
<br>
<br>
<h5>&#187; Choix des sujets : </h5>

<br>
<table  class="table table-bordered">
    <thead>
      <tr>
            <!-- <th>Noms Binomes</th> -->
            <!-- <th>Num</th> -->
            <!-- <th>Id-Sujet</th> -->
            <th>Titre</th>
            <th>Description</th>
            <th>Specialité</th>
            <th>Encadrant</th>
            <th>Email-Encadrant</th>
      </tr>
    </thead>
    
    <tbody>
        
        <tr class="table-warning" *ngFor="let item of choixItems; let i = index">
            <!-- <td>-{{ item.nomEtudiant1 }}</td> -->
            <!-- <td>{{ item.quantity }}</td> -->
            <!-- <td>{{ item.sujet.idSujet }}</td> -->
            <td>{{ item.sujet.titre  }}</td>
            <td>{{ item.sujet.description  }}</td>
            <td>{{ item.sujet.specialite }}</td>
            <td>{{ item.sujet.encadrant }}</td>
            <td>{{ item.sujet.email_encadrant }}</td>
       
        </tr>
      
    </tbody>

  </table>


  <br>
<br>
<br>


</div>





<!-- 
<p>---------------</p> 
<p>Pour tester add</p>
<tbody *ngFor="let item of choixItems; let i = index">

    <p >{{ item.quantity }}</p>
    <p >{{ item.sujet.titre  }}</p>
    <p >{{ item.sujet.description  }}</p>

    <p >{{ item.sujet.description  }}</p>
    
</tbody> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© 2022 Bootstrapious All rights reserved  @JavaGuides</p>
    </div>
</div>
