
<br>
<br>
<br>
<br>
<br>



<div class="col-md-6 offset-md-3">
    <!-- <p>Créer un nouveau sujet</p> -->
    <h3>Créer un nouveau sujet</h3>
    <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label> Titre </label>
            <input type="text" class="form-control" id="titre" 
                  [(ngModel)]="sujet.titre" name="titre">
        </div>   
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" id="description"
                 [(ngModel)]="sujet.description" name="description"> 
        </div>    
            
        <div class="form-group">
            <label>Specialité</label>
            <select class="form-control" id="specialite"
                 [(ngModel)]="sujet.specialite" name="specialite" >
            
                 <option value="">&#x025BE; Choisir votre spécialité : </option>
                  <option value="informatique"> Infotronique</option>
                  <option value="infotronique">Informatique</option>
                  <option value="Mecatronique">Mecatronqiue</option> 
                  <option value="Gsil">Gsil</option>
           </select>
       </div>   
       <div class="form-group">
              <label>Encadrant(e)</label>
              <input type="text" class="form-control" id="encadrant"
                    [(ngModel)]="sujet.encadrant" name="encadrant"> 
      </div>    

      <div class="form-group">
        <label>Email Encadrant(e)</label>
        <input type="text" class="form-control" id="email"
              [(ngModel)]="sujet.email_encadrant" name="email"> 
        </div>  
      <br>
      <button class="btn btn-info" type="submit">Enregistrer</button>
                
        
      </form>
    </div>


    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© 2022 Enicarthage @PFA</p>
    </div>
  </div>

